input {
  padding: 0.6rem;
  border-radius: 0.6rem;
  width: 20rem;
  font-size: 1.2rem;
}
input:focus {
  background: bisque;
}
h1 {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(#e14118, #642d68, #4158d0);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
